comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}

div#tkdals {
    display : inline-block;
    width : 200px;

    position : absolute;

}

div#list {
    display : inline-block;
    left : 200px;
    width : 2000px;
    position : relative;
    align-self : center;
}

body {
}